/*This is my SSB Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my SSB Contact Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
 background-image: url("images/ombre-blue.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-attachment: fixed;
	
	
}

.center {
    width: 800px;
	padding: 2%;
    margin: 100px auto;
 	background: rgba(169, 216, 241, 0.75); /*this uses opacity of 75% for the background color*/
	text-align: center;
	border: 4px dashed white;
}

   
#logo {
    margin-bottom: 16px;
	border: 3px dashed white;
	text-align: center;
}
@mixin clearfix {
	&:after {
	display: table;
	clear: both;
	}
	}
	html {
	box-sizing: border-box;
	}
	*, *:before, *:after {
	box-sizing: inherit;
	}
	
	body {
	background-color: rgb(62, 167, 63);
	min-height: 100%;
	}
	
	a {
	text-decoration: none;
	color: inherit
	}
	
	.main-header {
	background-color: #000;
	padding: 5px 40px 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	@media (min-width: 1025px) {
	.main-header {
	flex-direction: row;
	justify-content: space-between;
	}
	}
	
	.name {
	color: white;
	font-size: 1.35em;
	margin: 0;
	}
	a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	}
	
	.main-nav {
	margin: 0;
	list-style-type: none;
	display: flex;
	}
	a {
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
	}
h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: 'Bitter', serif;
	font-size: 2em;
    margin: 0px auto 10px auto;
    color: #fff;
}

h2 {
	 /* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	 font-family: 'Bitter', serif;
	font-size: 1.5em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: 'Bitter', serif;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}
    
    
nav {
	font-family: 'Bitter', serif;
	font-size: 1.2em;
	width: 400px;
	margin: 0 auto;
	border: dashed white;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
}

@media only screen and (max-width: 480px) {
	h1 {
		font-size: lem;
		line-height: 1.5em
	}
}
@mixin clearfix {
	&:after {
	display: table;
	clear: both;
	}
	}
	html {
	box-sizing: border-box;
	}
	*, *:before, *:after {
	box-sizing: inherit;
	}
	
	body {
	background-color: rgb(70, 164, 180);
	min-height: 100%;
	}
	
	a {
	text-decoration: none;
	color: inherit
	}
	 /* Code for cards */

/* sets everything to zero */

* {
    margin: 0;
    padding: 0;
  }
 
  .cardphoto img {
    display: block;
    max-width: 100%; /* makes image responsive if needed but makes sure it doesn't stretch */
  }
 
  /* make the Section class cards here.  */
 
  .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
 
  /* make the card flex. The default is row so change flex direction to vertical. */
  .card {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px;
    min-width: 250px;
    max-width: 350px;
    border-radius: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(16, 70, 93);
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
  }
  .card:hover {
    transition: all 0.1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  }
 
  .cardphoto {
    max-height: 250px;
    overflow: hidden;
  }
 
  .cardarticle {
    padding: 2.5rem;
    flex-grow: 1;
  }
 
  /* typography */
  .cardH1 {
    font-size: 2rem;
    margin: 0;
    color: rgb(38, 122, 124);
  }
 
  .card p {
    font-size: 1rem;
    line-height: 1.5;
  }
 
  .card footer {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1a6e7f;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  h3{
      color:#444;
  }
 
  .card p {
      color: rgb(64, 135, 144);
  }
	.main-header {
	background-color: #65b8d9;
	padding: 5px 40px 10px 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	}
	@media (min-width: 1025px) {
	.main-header {
	flex-direction: row;
	justify-content: space-between;
	}
	}
	
	.name {
	color: white;
	font-size: 1.35em;
	margin: 0;
	}
	a {
	text-align: center;
	display: block;
	padding: 10px 15px;
	}
	
	.main-nav {
	margin: 0;
	list-style-type: none;
	display: flex;
	}
	a {
	text-align: center;
	display: inline-block;
	padding: 10px 15px;
	font-size: .95em;
	color: #050705;
	text-transform: uppercase;

